<h2 class="title is-3">Contact</h2>

<ul>
    <li><strong>Tel:</strong> 0171567 9834</li>
    <li><strong>Email:</strong> tell@me.your.thoughts</li>
    <li><strong>Twitter:</strong> @abcdef</li>
</ul>