<h2 class="title is-3">Login</h2>

<form class="container" method="POST" action="/login">
    <div class="columns">
        <div class="column is-half">

            <div class="field">
              <label class="label">Username</label>
              <div class="control">
                {{#if error}}
                  <input class="input is-danger" name="username" type="text" placeholder="Enter your username...">
                  <p class="help is-danger">Your username or password was invalid</p>
                {{else}}
                  <input class="input" name="username" type="text" placeholder="Enter your username...">
                {{/if}}
              </div>
            </div>

            <div class="field">
              <label class="label">Password</label>
              <div class="control">
                {{#if error}}
                  <input class="input is-danger" name="password" type="password" placeholder="Enter your password...">
                  <p class="help is-danger">Your username or password was invalid</p>
                {{else}}
                  <input class="input" name="password" type="password" placeholder="Enter your password...">
                {{/if}}
              </div>
            </div>

            <div class="field is-grouped">
              <div class="control">
                <button class="button is-link">Login</button>
              </div>
            </div>
        </div>
    </div>
</form>